.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 500px;
  }
  
  .input-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  input {
    margin: 10px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  
  button {
    margin: 20px;
    padding: 10px;
    background-color: #0077FF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0066CC;
  }
  
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .img-container img {
    width: 200px;
    height: auto;
    margin: 10px;
  }

  .dashboard {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    padding-top: 50px;
  }
  
  span {
    font-size: 20px;
  }
  
  .guesthouses-count {
    font-size: 14px;
    margin-bottom: 20px; /* adjust margin-bottom */
    width: 10%;
    height: 50px;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    max-width: 400px;
    margin-top: 50px;
  }
  
  .search-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .search-button {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
  }
  
  .search-button:hover {
    background-color: #3e8e41;
  }
  
  table {
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-top: 30px; /* adjust margin-top */
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }