.App {
  margin: 0;
  padding: 0;
  text-align: left;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.go-to-guesthouses {
  /* margin-top: 1px; */
  width: auto;
  padding: 15px 40px;
  float: right;
}

.auth-form-container {
  background-color: white;
  border-radius: 10px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  max-width: 400px;
  margin: auto;
}

@keyframes pulse {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

label {
  text-align: left;
  margin-top: 1rem;
  font-weight: bold;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 0.9rem;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #9f9fff;
}

button {
  border: none;
  background-color: #206abe;
  color: #fff;
  padding: 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  width: 40%;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #bfbfcc;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 2rem;
  }
}

.mysidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: color #16a5dd;
  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .dashboard {
  font-size: 5rem;
  text-align: center;
} */

.homepage {
  flex-direction: column;

}

.homepic {
  margin-top: 0px;
}

.homepic img {
  width: 100%;
  height: 600px;
}

/* 
main {
  width: 100%;
  padding: 16px;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  position: relative;
  float: left;
} */

/* Admin side UI */



.admin--page {
  /* background */
  width: 100vw;
  height: 100vh;
  display: flex;

}

main {
  background-color: rgb(255, 255, 255);
  flex-grow: 1;
  overflow: auto;
}

/* .dashboard {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
} */

.main--dashboard {
  display: flex;
  flex-direction: column;
}

.admin--header {

  background-color: #063956;
  padding: 20px 30px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: rgb(248, 248, 248);
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}


/* Dashboard css styles */


.dash--content {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 20px;
}

.dash--cards {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dash--header {
  align-self: stretch;  
  padding-left: 30px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 35px;
}

.dash--card-image {
  border-radius: 16px 16px 0px 0px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: inset 0px -7px 10px rgba(34, 87, 122, 0.23);
}

.dash--card {
  margin: 20px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  flex-basis: 390px;
}

.dash--card-info {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  font-family: Junge;
  font-size: 28px;
  font-weight: 400;
}


/* guest house list Admin */


.admin-ghl--content {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: hidden;
  padding: 20px;
}

.admin--container {
  background-color: lightblue;
  flex-basis: 100%;
  max-height: 80vh;
  margin: 20px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: row;

}

.admin--filters {
  /* display: flex;
  flex-direction: column; */
  min-width: 150px;
  margin-top: 20px;
  padding-left: 10px;
}

.admin--radio{
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: column;
}

.admin--radio{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.admin--radio > input{
  width: fit-content;
  align-self: center;
}
.admin--radio > label{
  margin:0px;
  padding:0px;
  font-weight: 500;
}

.table-section{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.table--container {
  background-color: white;
  padding: 18px;
  padding-top: 0px;
  flex-grow: 1;
  height: 70%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.admin--searchbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: fit-content;
  padding: 0px;
  margin:0px;
  margin-bottom: 10px;
  margin-right: 10px;
  /* border: 2px solid #063956; */
}

.admin--search-input{
  max-width: 50%;
  height: 30px;
  margin:0px;
  padding: 0px;
  text-indent: 15px;
}
.admin--search-button{
  width: 50px;
  height: 30px;
  margin:0px;
  padding: 0px;
  margin-left: 10px;
  border-radius: 0px;
}

.table--scroller{
  width: 100%;
  height: auto;
  overflow: auto;
}

.table {
  width: auto;
  border-collapse: collapse;
  border-spacing: 20px;
}

.table--actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: transparent;
}

.ghl--name-container {
  display: flex;
  align-items: center;
}

.table--logo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
}

.table-head {
  font-size: 30px;
  font-family: Inter;
  font-weight: bold;
  color: rgb(0, 45, 112);
  background-color: lightblue;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.table-head:first-child{
  border-radius: 10px 0 0 10px;
}

.table-head:last-child{
  border-radius: 10px 10px 10px 10px;
}


.table-row {
  padding: 35px 15px;
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E9E9E9 100%); */
  border: transparent;
}

.table-row:hover {
  background-color: #0ca1f815;
}

.ghl--name-container,
.table--actions {
  margin-top: 10px;
  cursor: pointer;
}

.ghl--new-button {
  align-self: flex-end;
  justify-self: flex-end;
  width: fit-content;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.ghl--new-button > h5{
  margin: 0px;
  margin-right: 10px;

}



tr > td{
  color: rgb(44, 91, 74);
  font-size: 27px;
  font-weight: 600;
}