.App {
  margin: 0;
  padding: 0;
  text-align: left;
  min-height: 100vh;
  justify-content: center;
  font-family: 'Segoe UI', sans-serif;
}

.auth-form-container {
  background-color: white;
  border-radius: 10px;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  max-width: 400px;
  margin: auto;
}

@keyframes pulse {
  from {
    transform: scale(0.95);
  }

  to {
    transform: scale(1);
  }
}

label {
  text-align: left;
  margin-top: 1rem;
  font-weight: bold;
}

input {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: #333;
  font-size: 0.9rem;
  width: 100%;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #9f9fff;
}

button {
  border: none;
  background-color: #206abe;
  color: #fff;
  padding: 1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
  width: 40%;
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #bfbfcc;
}

.link-btn {
  background: none;
  color: black;
  text-decoration: underline;
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 2rem;
  }
}

.mysidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: color #16a5dd;
  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard {
  font-size: 5rem;
  text-align: center;
}

.homepage {
  flex-direction: column;

}

.homepic {
  margin-top: 0px;
}

.homepic img {
  width: 100%;
  height: 600px;
}

/* 
main {
  width: 100%;
  padding: 16px;
  height: 100%;
  background-color: whitesmoke;
  display: flex;
  position: relative;
  float: left;
} */

main {
  background-color: white;
  /* height: 3000px; */
  width: 80%;
  float: right;
}

.admin--page {
  background-color: red;
  height: 100%;
}

.dashboard {
  display: flex;
  flex-direction: column;
}

.admin--header {
  /* background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(198, 190, 190, 0) 78.65%),
    rgba(102, 103, 171, 0.22); */

  background-color: #063956;
  padding: 20px 60px;
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 32px;
  color: rgb(212, 211, 211);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Dashboard css styles */


.dash--content {
  display: flex;
  flex-direction: column;
  min-width: 1300px;
  align-self: center;

}

.dash--cards {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

.dash--header {
  align-self: flex-start;
  padding-left: 100px;
  padding-top: 20px;
  font-weight: bold;
  font-size: 35px;
}

.dash--card-image {
  border-radius: 16px 16px 0px 0px;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: inset 0px -7px 10px rgba(34, 87, 122, 0.23);
}

.dash--card {
  margin: 20px;
  border-radius: 16px;
  background-color: white;
  box-shadow: 4px 4px 17px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  width: 300px;
}

.dash--card-info {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 20px;
  font-family: Junge;
  font-size: 28px;
  font-weight: 400;
}


/* guest house list Admin */

.admin--container{
  width: 90%;
  background-color: lightblue;
  height: 80vh;
  margin: 50px;
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction:row;

}

.admin--filters{
  display: flex;
  flex-direction: column;
  min-width: 200px;
  margin-top: 40px;
  padding-left: 20px;
}

.admin--radios{
  display:flex;
  flex-direction: column;
  align-items:start;
  margin-left:20px;
  margin-bottom: 20px;
  width: fit-content;
}
.admin--radio{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  height: fit-content;
}
.admin--radio > label{
  font-size: 16px;
  margin-top: 0;
  text-indent: 10px;
  color:rgb(77, 77, 77);
}
.admin--radio > input{
  width:fit-content;
  height: fit-content;
}


.table--container{
  background-color: white;
  padding: 30px;
  flex-grow: 1;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table{
  width: auto;
  border-collapse:collapse;
  border-spacing: 20px;
}

.table--actions{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  border:transparent;
}

.ghl--name-container{
  display: flex;
  align-items: center;
}

.table--logo{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 20px;
}

.table-head{
  font-size: 30px;
  font-family:Inter;
  font-weight: bold;
  color:rgb(42, 42, 42);
  background-color: lightblue;
 
};

.table-row{
  padding: 35px 15px;
  /* background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #E9E9E9 100%); */
  border: transparent;
}
.table-row:hover{
  background-color: #0ca1f815;
}

.ghl--name-container, .table--actions{
  margin-top: 10px;
  cursor: pointer;
}

.ghl--new-button{
  align-self: flex-end;
  justify-self: flex-end;
}
.ghl--new-button > button{
  width: 100%;
  border-radius: 15px;
  padding:15px 30px;
}

